header {
  background-color: $white;
  // sing up
  .sign-up {
    color: $white;
    background-color: $blue-100;
    padding: 4px 0 10px 0;
    margin-top: 40px;
    @include media-breakpoint-up(md) {
      position: absolute;
      width: 179px;
      right: 0;
      z-index: 2;
      top: 50%;
      margin-top: 0;
      @include transform(translateY(-50%));
    }
    .container {
      @include display-flex();
      @include justify-content(space-between);
      @include align-items(center);
      @include media-breakpoint-up(md) {
        @include flex-direction(column);
      }
      p {
        @include font-size(14px);
        @include line-height(16px);
        margin: 0;
        font-weight: bold;
        padding: 6px 35px 0 0;
        @include media-breakpoint-up(md) {
          padding: 0;
          text-align: center;
        }
      }
      a {
        color: $white;
        @include font-size(14px);
        @include line-height(20px);
        font-weight: bold;
        position: relative;
        padding-right: 20px;
        @include media-breakpoint-up(xs-420) {
          padding-right: 45px;
        }
        @include media-breakpoint-up(sm) {
          padding-right: 20px;
        }
        &::after {
          content: "";
          position: absolute;
          height: 16px;
          width: 12px;
          top: 35%;
          right: 0px;
          @include media-breakpoint-up(xs-420) {
            top: 38%;
            right: 20px;
          }
          @include media-breakpoint-up(sm) {
            right: 0px;
          }
          background: url("../images/style-images/icon-arrow-right.png") center/cover no-repeat;
        }
        span {
          @include font-size(22px);
        }
      }
    }
  }
  .top-menu-links {
    padding: 8px 0;
    @include media-breakpoint-up(md) {
      padding: 12px 0;
    }
    button {
      display: block;
      margin: auto;
      @include media-breakpoint-up(xs-420) {
        display: inline-block;
        margin-right: 16px;
      }
    }
    a {
      text-transform: uppercase;
      color: $blue-400;
      @include media-breakpoint-up(md) {
        color: $blue-100;
      }
      font-weight: 500;
      padding-left: 28px;
      &:nth-child(2) {
        padding-left: 0px;
      }
      @include media-breakpoint-up(md) {
        &:nth-child(2) {
          padding-left: 28px;
        }
      }
      @include font-size(8px);
      @include media-breakpoint-up(md) {
        @include font-size(10px);
      }
      vertical-align: middle;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        border-right: 2px solid $blue-400;
        top: 0px;
        height: 10px;
        right: -20px;
        @include media-breakpoint-up(md) {
          border-right: 1px solid $blue-700;
          top: 50%;
          height: 28px;
          transform: translateY(-50%);
        }
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
  margin-top: 40px;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  .navbar {
    display: block;
    clear: both;
    background-color: $blue-100;
    &-brand {
      background-color: $white;
      position: absolute;
      top: 0;
      margin-right: 0;
      padding: 5px 32px 0 25px;
      @include media-breakpoint-up(xs-420) {
        padding: 5px 32px 0 45px;
      }
      @include media-breakpoint-up(md) {
        padding: 0 10px 0 33px;
      }
      height: 61px;
      left: 0;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -40px;
        transform: rotate(180deg);
        border-left: 40px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 62px solid $white;
      }
      img {
        @include media-breakpoint-up(sm-420) {
          width: 145px;
        }
      }
    }
    &-toggler {
      float: right;
      &[aria-expanded="false"] {
        .navbar-toggler-icon {
          background: url(../images/style-images/icon-hamburger.png) center/cover no-repeat;
          width: 40px;
        }
      }
      &[aria-expanded="true"] {
        .navbar-toggler-icon {
          background: url(../images/style-images/icon-close.png) center/cover no-repeat;
          width: 40px;
        }
      }
    }
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .navbar-collapse {
      &.show {
        height: 100vh;
      }
      .navbar-nav {
        @include align-items(center);
        .nav-link {
          color: $white;
          text-align: center;
          @include font-size(14px);
          &.dropdown-toggle {
            &::after {
              display: none;
            }
          }
        }
        .dropdown-menu {
          @include radius(0);
          background-color: $blue-100;
          .dropdown-item {
            color: $white;
          }
          top: 45px;
          border: 0;
        }
      }
    }
    @include media-breakpoint-up(md) {
      padding: 7px 12px;
    }
  }
}
