.dropdown {
  a.dropdown-toggle {
    &::after {
      content: "\f107";
      border: 0;
      display: inline-block;
      vertical-align: middle;
      font-weight: lighter;
      font-family: "FontAwesome";
    }
    &[aria-expanded="true"] {
      &::after {
        @include transform(rotate(180deg));
      }
    }
  }
  .dropdown-menu {
    @include radius(0);
    border: 0;
    padding: 10px 30px;
    @include media-breakpoint-up(xs-360) {
      padding: 10px 60px;
    }
    background-color: $blue-100;
    @include media-breakpoint-up(xl) {
      padding: 10px;
    }
    .dropdown-item {
      padding: 10px 0;
      color: $white;
      text-align: left;
      white-space: normal;
      background-color: transparent;
      @include font-size(15px);
      @include media-breakpoint-up(xs-360) {
        @include font-size(16px);
      }
      border-bottom: 1px solid $blue-900;
      @include media-breakpoint-up(xl) {
        border-bottom: none;
        width: auto;
        @include font-size(14px);
        text-align: center;
        white-space: nowrap;
      }
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
  // white color dropdown css
  &.dropdown-secondary {
    .dropdown-menu {
      background-color: $white;
      .dropdown-item {
        color: $blue-100;
        &:hover {
          color: $blue-1000;
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}
