// list styling
ul {
  &.list {
    list-style-type: none;
    padding: 0 0 0 12px;
    li {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 8px;
        left: -12px;
        width: 3px;
        height: 3px;
        @include radius(50%);
        background-color: $blue-400;
      }
    }
    &.list-rhombus {
      padding: 0 0 0 16px;
      li {
        letter-spacing: 0.8px;
        padding: 0 0 11px 0;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -30px;
          width: 25px;
          height: 28px;
          margin: 1px 0 0 8px;
          @include background(url(../images/style-images/rhombus.png) center/cover no-repeat);
        }
      }
    }
  }
}

// quotes section css
.quotes {
  @include box-shadow(inset 0px 3px 14px $black-300);
  @include background(url(../images/style-images/quote-bg-img.png) center/cover no-repeat);
  padding: 74px 26px 60px;
  @include media-breakpoint-up(md) {
    padding: 96px 85px 88px;
  }
  @include media-breakpoint-up(lg) {
    padding: 96px 246px 88px;
  }
  h2 {
    text-transform: none;
    color: $blue-200;
    letter-spacing: 4.4px;
    @include font-size(40px);
    @include line-height(48px);
  }
  &.second-quote {
    padding: 50px 26px 35px;
    @include media-breakpoint-up(md) {
      padding: 75px 70px 56px;
    }
    @include media-breakpoint-up(lg) {
      padding: 95px 70px 84px;
    }
  }
  &.third-quote {
    padding: 80px 45px 35px;
    @include media-breakpoint-up(md) {
      padding: 50px 80px 34px;
    }
    @include media-breakpoint-up(lg) {
      padding: 72px 245px 64px;
    }
  }
  &.fourth-quote {
    padding: 50px 40px 30px;
    @include media-breakpoint-up(md) {
      padding: 95px 75px 38px;
    }
    @include media-breakpoint-up(lg) {
      padding: 95px 75px 95px;
    }
  }
}

.blue-container {
  background-color: $blue-300;
  h2 {
    margin-bottom: 10px;
    @include media-breakpoint-up(md) {
      letter-spacing: 5.6px;
      @include font-size(56px);
      @include line-height(56px);
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 15px;
      letter-spacing: 6.4px;
      @include font-size(64px);
      @include line-height(72px);
    }
  }
  h4 {
    margin-bottom: 10px;
  }
  .col-one {
    padding: 28px 36px 38px;
    @include media-breakpoint-up(md) {
      padding: 56px 61px 38px 16px;
    }
    @include media-breakpoint-up(xl) {
      padding: 24px 106px 38px 16px;
    }
  }
  p {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      margin-bottom: 20px;
    }
  }
}

.purple-container {
  color: $white;
  background-color: $purple-100;
  h2 {
    margin-bottom: 12px;
  }
  h3 {
    font-weight: lighter;
  }
  h4 {
    font-weight: 500;
    color: $white;
    text-transform: uppercase;
  }
  p{
    font-weight: normal;
  }
}

hr {
  opacity: 0.5;
  border-top: 1px solid $black-100;
}

.slider-control {
  border: 1px solid $pink-200;
  background-color: $pink-100;
  @include box-shadow(0px 6px 18px $black-400);
  margin: 60px auto 0;
  @include media-breakpoint-up(lg) {
    margin: 94px auto 0;
  }
  width: 158px;
  @include radius(38px);
  color: $white;
  padding: 12px 22px 16px;
  @include align-items(center);
  @include justify-content(space-between);
  a {
    color: $white;
    @include font-size(24px);
  }
  > div {
    span {
      @include line-height(20px);
      @include font-size(32px);
      font-weight: lighter;
      padding: 18px 10px 8px;
      &:first-child {
        border-right: 1px solid $white;
      }
    }
  }
}

a.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.page-scroll-disable{
  overflow: hidden;
}
