.pipe-d-none {
  &::after {
    display: none;
  }
}
.pipe-d-lg-block {
  &::after {
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}

.text-blue-100{
  color: $blue-100;
}

.text-blue-400{
  color: $blue-400;
}