.text-blue-100 {
  color: $blue-100 !important;
}

.text-blue-400 {
  color: $blue-400 !important;
}

.pl-xl-15 {
  @include media-breakpoint-up(xxl) {
    padding-left: 15px !important;
  }
}

.fs-12 {
  font-size: 0.75rem !important;
}

.box-show {
  @include box-shadow(0px 6px 18px $black-400 !important);
}

.border-right-xl-primary {
  @include media-breakpoint-up(xl) {
    border-right: 1px solid $blue-700 !important;
  }
}