.pipe-d-none {
  &::after {
    display: none;
  }
}
.pipe-d-lg-block {
  &::after {
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}

.d-xs-360-block {
  @include media-breakpoint-up(xs-360) {
    display: block;
  }
}

.d-xs-420-block {
  @include media-breakpoint-up(xs-420) {
    display: block;
  }
}
